:root {
	--easeFastSlow: cubic-bezier(0.075, 0.82, 0.165, 1);
	--easeSlowSlow: cubic-bezier(0.77, 0, 0.175, 1);
}

.pace {
	pointer-events: none;
	user-select: none;
}
  
.pace.inactive > .pace-progress {
	height: 0 !important;
}
  
.pace > .pace-progress {
	background: white;
	position: fixed;
	z-index: 6969;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;

	mix-blend-mode: difference;

	transition: height 1s var(--easeSlowSlow);
}
  
.pace > .pace-activity {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	column-gap: 0;
	row-gap: 0;
	align-items: center;
	justify-items: center;

	position: fixed;
	z-index: 3;

	width: 100vw;
	height: 100%;
}

.pace > .pace-activity::before {
	content: "";
	display: inline-block;

	width: 100%;
	height: 100%;

	position: absolute;

	background: black;

	transition: 
		height 0.5s var(--easeFastSlow),
		width 1s var(--easeSlowSlow);
}

.pace.inactive > .pace-activity::before {
	height: 1px;
	width: 0;
}

.pace > .pace-activity::after {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;
	border: solid 2px transparent;
	border-color: white;
	border-radius: 0px;

	position: absolute;

	opacity: 1;
	transition: opacity 0.5s var(--easeSlowSlow);

	animation: pace-spinner 0.5s var(--easeSlowSlow) infinite;
}

.pace.inactive > .pace-activity::after {
	opacity: 0;
}

@keyframes pace-spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(90deg); }
}
  