@import url('/assets/css/raw/fonts/spaceMono.css');
@import url('/assets/css/raw/fonts/dankMono.css');

/* -- variables start -- */
:root {
	--easeFastSlow: cubic-bezier(0.075, 0.82, 0.165, 1);
	--easeSlowSlow: cubic-bezier(0.77, 0, 0.175, 1);

	--headerPadding: calc(20px + 2vw);
}
/* -- variables end -- */

/* -- general start -- */
body {
	position: absolute;
	height: 100vh;
	width: 100%;

	background-color: black;
	margin: 0px;
	overflow-x: hidden;
}

.skin {
	position: fixed;

	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;

	transition: 
		height 0.5s var(--easeFastSlow), 
		width 1s var(--easeSlowSlow), 
		top 0.5s var(--easeFastSlow), 
		left 1s var(--easeSlowSlow), 
		filter 1s var(--easeFastSlow),
		transform 1s var(--easeFastSlow),
		opacity 1s var(--easeFastSlow);

	overflow: hidden;
}

.organs {
	position: absolute;

	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;

	transition: inherit;
}

.hidden {
	visibility: hidden !important;
}

.height {
	transform: translate(0px, 0px);
	transition: transform .2s;
}

.innerCenter {
	height: 100vh;
	transform: translate(0px, -24px) !important;
}

.inner {
	height: 100%;
}

.viewport {
	height: 100vh;
}

.white {
	fill: white;
	color: white;
}

.hoverLine:after {    
	background: none repeat scroll 0 0 transparent;
	left: 0;
	bottom: -9px;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	background: grey;
	transition: width 0.3s var(--easeSlowSlow);
	width: 0;
}

.hoverLine:hover:after,
.hoverLine.forced:after { 
	width: 100%;
}

@media (pointer: coarse), (pointer: cnone) {
	.hoverLine:hover:after{ 
		width: 0;
	}
}

.char {
	display: inline-block;
}
/* -- general end -- */

/* -- footer start -- */
footer {
	height: calc(80px + 4vw);
    width: 100vw;
    background: black;
	position: relative;
}

footer > .skin {
	position: absolute;
	height: 100%;
	width: 100%;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	column-gap: 0;
	row-gap: 0;

	align-items: center;
	justify-items: center;
}

@media only screen and (max-width: 1024px) {
	footer > .skin {
		width: calc(100% - var(--headerPadding));
		justify-items: right;
	}
}
/* -- footer end -- */

/* -- socials start -- */
.socials.container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	width: 50%;
	max-width: 360px;

	align-items: center;
	justify-items: center;

	position: absolute;
}

.socials.container > a {
	position: relative;

	height: 24px;

	pointer-events: auto;

	-webkit-tap-highlight-color: transparent;
}

.socials.container > a:hover > svg {
	bottom: 6px;
}

.socials.container > a > svg {
	height: 24px;
	width: 24px;

	bottom: 0;

	position: relative;
	
	transition: bottom 1s var(--easeFastSlow);
}
/* -- socials end -- */

/* -- sign start -- */
.sign > .whoAmI > .title.container > * {
	top: calc(var(--textLineHeight) + (var(--textBottomMargin) / 2));
}

.sign > .whatNow > .title.container > * {
	top: calc(0px - (var(--textLineHeight) + (var(--textBottomMargin) / 2)));
}

.sign > .whatNow > .title.container {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

.sign > .whatNow > .description.container {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.sign > .contactMe > .background {
	height: 100vh;
	width: 100vw;

	transform-origin: top;

	background: black;
}

.sign {
	position: relative;
	width: 100vw;
	height: 100%;

	pointer-events: none;

	--textBottomMargin: 0.2em;
	--textLineHeight: 0.6em;
}

.sign > * {
	position: relative;

	top: 100vh;
	height: 100vh;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	align-items: center;
	justify-items: center;

	pointer-events: none;
}

.sign > * > .title.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.sign > * > .title.container > .title {
	font-size: 16vw;
	font-family: "Space Mono", "Dank Mono", sans-serif;
	font-weight: 800;
	line-height: var(--textLineHeight);
	letter-spacing: -0.069em;

	position: relative;

	display: block;

	margin: 0 0 var(--textBottomMargin) 0;
}

.sign > * > .title.container > .title.outline {
	-webkit-text-stroke: 1px white;
	-webkit-text-fill-color: #00000000;
}

.sign > * > .description.container {
	width: 50%;
	max-width: 360px;

	overflow-y: hidden;
}

.sign > * > .description.container > .description {
	font-size: 0.8em;
	font-family: 'Dank Mono';
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0.04em;
	line-height: 1.6em;

	position: relative;

	max-height: 100%;

	color: white;
	background: black;

	margin: 0 0 var(--textBottomMargin) 0;
	padding: 40px;

	box-sizing: border-box;
}

.sign > * > .description.container > .socials.container {
	margin-top: 12vh;
	margin-left: 8vw;
}

@media only 
	screen 
	and (max-width: 1024px)
	and (max-height: 400px) {
	.sign > * > .title.container > * {
		top: -69px !important;
	}	
}


@media only 
	screen
	and (max-width: 1024px) {
	.sign > * {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}
	
	.sign > * > .title.container > * {
		align-self: flex-start;
	}

	.sign > .whatNow > .title.container > .title {
		grid-row: 1 / 2;
	}

	.sign > .whatNow > .title.container > .title.outline {
		grid-row: 2 / 3;
	}

	.sign > .whatNow > .title.container {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
	}
	
	.sign > .whatNow > .description.container {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
	}
	
	.sign > * > .description.container > .socials.container {
		visibility: hidden;
	}

	.sign > * > .description.container {
		width: 100vw;
		max-width: unset;

		align-self: flex-end;
	}

	.sign > * > .description.container > .description {
		width: 100vw;
	}
}
/* -- sign end -- */

/* -- hamburgerMenu start -- */
.__hamburgerMenu.containersWrapper {
	height: 100%;
	width: 100vw;

	/* padding: calc(80px + 12vw) 30vw; */
	box-sizing: border-box;
	
	display: grid;
	grid-template-columns: auto min-content auto;
	grid-column-gap: 0px;
    grid-row-gap: 3%;
    justify-items: left;
    align-items: center;

	z-index: 5;

	transition: 
		height .5s var(--easeFastSlow)
		visibility 1s;

	pointer-events: none;

	position: fixed;
}

.__hamburgerMenu.containersWrapper > .container {
	position: relative;
    width: 100%;
	box-sizing: border-box;
	
	overflow: hidden;
	opacity: 1;
}

.__hamburgerMenu.containersWrapper > .container > .title {
	font-family: "Space Mono", "Dank Mono", sans-serif;
	font-weight: 800;
	font-size: calc(10px + 1vmax);
	line-height: 100%;
	letter-spacing: -0.04em;

	color: black;
	background: white;
	
	width: fit-content;
	margin: 0px 0px 0px 0px;
	padding: 32px 64px 32px 32px;

	display: flex;

	transition: padding 0.5s var(--easeFastSlow);

	-webkit-tap-highlight-color: transparent;
}

.__hamburgerMenu.containersWrapper > .container > .title::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;

	background: white;

	left: 0;
}

.__hamburgerMenu.containersWrapper > .container > .title:hover,
.__hamburgerMenu.containersWrapper > .container > .title:hover::before {
	cursor: pointer;

	color: white;
	background: black;

	padding: 48px 64px 64px 32px;
}

.__hamburgerMenu.containersWrapper > .container > .title > .prefix {
	font-weight: 400;
}

.__hamburgerMenu.containersWrapper > .container > .title > span {
	display: inline-block;
}

/* .__hamburgerMenu.containersWrapper > .container > .title > .char {
	padding-bottom: 5px;
	border-bottom: .5px solid grey;
} */
/* -- hamburgerMenu end -- */

/* -- windowUtility start -- */
.__windowUtility.viewportCalibrator {
	height: 100vh;
	width: 100vw;

	visibility: hidden;

	position: fixed;
}
/* -- windowUtility end -- */

/* -- header start -- */
.header.containersWrapper {
	position: fixed;
	display: grid;
	width: 100vw;

	transition: 
		width 1s var(--easeFastSlow), 
		height 1s var(--easeFastSlow),
		padding 1s var(--easeFastSlow);

    grid-template-columns: 0px[preLeftCorner] 50px[leftCorner]  auto[preRightCorner] 50px[rightCorner];
    grid-template-rows: 0px[preHeader] 50px[header] auto[preFooter] 50px[footer];
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;

	z-index: 10;

	padding: var(--headerPadding);
	box-sizing: border-box;

	pointer-events: none;

	color: white;
}

.header.containersWrapper > .scrollCounter {
	grid-column-start: preLeftCorner;
	grid-column-end: leftCorner;
	grid-row-start: preFooter;
	grid-row-end: footer;

	justify-self: left;
	align-self: flex-end;
}

.header.containersWrapper > .scrollCounter > h1 {
	font-family: "Space Mono", "Dank Mono", sans-serif;
	font-weight: 400;
	font-size: 100%;
	line-height: 100%;
	
	width: 100%;
	margin: -2px 0px 0px 0px;
}

.header.containersWrapper > .scrollCounter > h2 {
	font-family: "Space Mono", "Dank Mono", sans-serif;
	font-weight: 400;
	font-size: 100%;
	line-height: 100%;
	
	width: 100%;
	margin: 0px 0px 0px 0px;
}

.header.containersWrapper > .logo {
	width: 75%;
	height: calc(75% * 3 / 4);

	cursor: pointer;
	-webkit-tap-highlight-color: transparent;

	grid-column-start: preLeftCorner;
	grid-column-end: leftCorner;
	grid-row-start: preHeader;
	grid-row-end: header;

	justify-self: left;
	align-self: flex-start;

	pointer-events: visible;
}

.header.containersWrapper > .hamburger {
	width: 75%;
	height: calc(75% * 3 / 4);

	cursor: pointer;
	-webkit-tap-highlight-color: transparent;

	grid-column-start: preRightCorner;
	grid-column-end: rightCorner;
	grid-row-start: preHeader;
	grid-row-end: header;

	justify-self: right;
	align-self: flex-start;

	pointer-events: visible;
}
/* -- header end -- */

/* -- lottie start -- */
.__animate.containersWrapper {
	position: absolute;
	overflow: hidden;
	display: grid;

	height: 100vh;
	width: 100vw;

	z-index: 1;
}

.__animate.containersWrapper > .__animate.container {
	position: absolute;

	width: 100%;
	height: 100%;

	margin: 0;

	opacity: 0;
	transition: opacity .2s;

	z-index: inherit;
}

.__animate.container.active {
	opacity: 1 !important;
}

.__animate.email {
	transition: 0.5s filter var(--easeFastSlow);
	-webkit-tap-highlight-color: transparent;
}

@media only screen and (max-width: 1024px) {
	.__animate.containersWrapper > .container > * {
		visibility: hidden;
	}

	.__animate.containersWrapper > .container > canvas.email,
	.__animate.containersWrapper > .container > canvas.blocks,
	.__animate.containersWrapper > .container > div.solid {
		visibility: visible;
	}
}
/* -- lottie end -- */

/* -- invert start -- */
.invert {
	mix-blend-mode: difference;
}
/* -- invert end -- */

/* -- overlay start -- */
.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;

	background-color: #000;

	opacity: 0;

	z-index: -1;
}

.overlay.active {
	opacity: .5 !important;
}
/* -- overlay end -- */

/* -- tv start -- */
.shelf {
	height: 100vh;
	width: 100vw;

	position: absolute;
	overflow: hidden;
	
	z-index: -2;
}

.tv {
	display: grid;

	position: absolute;
}

.tv > .__screen {
	height: 100%;
	width: 100%;

	margin: 0;

	filter: brightness(0);
	transition: filter .5s;

	z-index: inherit;
}

.tv > .__screen.active {
	filter: brightness(1);
}
/* -- tv end -- */

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
  