.pace {
	pointer-events: none;
	user-select: none;
}
  
.pace.inactive > .pace-progress {
	height: 0 !important;
}
  
.pace > .pace-progress {
	background: white;
	position: fixed;
	z-index: 6969;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;

	mix-blend-mode: difference;

	transition: height 1s cubic-bezier(0.77, 0, 0.175, 1);
}
  
.pace .pace-progress-inner {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #29d, 0 0 5px #29d;
	opacity: 1.0;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-moz-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	-o-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

.pace.inactive > .pace-activity {
	opacity: 0;
}
  
.pace > .pace-activity {
	display: block;
	position: fixed;
	z-index: 2000;
	top: calc(50vh - 8px);
	right: calc(50vw - 8px);
	width: 16px;
	height: 16px;
	border: solid 2px transparent;
	border-color: white;
	border-radius: 0px;
	animation: pace-spinner 400ms cubic-bezier(0.77, 0, 0.175, 1) infinite;

	mix-blend-mode: difference;

	opacity: 1;
	transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes pace-spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(90deg); }
}
  