@import url("../../../../assets/css/core/header.css");

.header.containersWrapper {
	height: 100%;
}

.header.container {
	transition: transform 0.5s var(--easeSlowSlow);
}

.header.container.night {
	cursor: pointer;
}

.header.container.active {
	transform: translate(0px, 0px) !important;
}

@media only screen and (max-width: 1024px) {
	.header.container.logo,
	.header.container.night {
		transform: translateY(calc(-8px - var(--headerPadding) * 2));
	}
}

.header.container.night {
	grid-column-start: preRightCorner;
    grid-column-end: rightCorner;
    grid-row-start: preHeader;
	grid-row-end: header;
	
	align-self: flex-start;
	justify-self: end;

	width: 66.666666667%;
	height: 56.666666667%;
}