.__hamburgerMenu.containersWrapper {
	height: 100%;
	width: 100vw;

	/* padding: calc(80px + 12vw) 30vw; */
	box-sizing: border-box;
	
	display: grid;
	grid-template-columns: auto min-content auto;
	grid-column-gap: 0px;
    grid-row-gap: 3%;
    justify-items: left;
    align-items: center;

	z-index: 5;

	transition: 
		height .5s var(--easeFastSlow);

	pointer-events: none;

	position: fixed;
}

.__hamburgerMenu.containersWrapper > .container {
	position: relative;
    width: 100%;
	box-sizing: border-box;
	
	overflow: hidden;
	opacity: 0;
}

.__hamburgerMenu.containersWrapper > .container > .title {
	font-family: "Space Mono", "Dank Mono", sans-serif;
	font-weight: 800;
	font-size: calc(10px + 1vmax);
	line-height: 100%;
	letter-spacing: -0.04em;

	color: black;
	background: white;
	
	width: fit-content;
	margin: 0px 0px 0px 0px;
	padding: 32px 64px 32px 32px;

	display: flex;

	transition: padding 0.5s var(--easeFastSlow);

	-webkit-tap-highlight-color: transparent;
}

.__hamburgerMenu.containersWrapper > .container > .title::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;

	background: white;

	left: 0;
}

.__hamburgerMenu.containersWrapper > .container > .title:hover,
.__hamburgerMenu.containersWrapper > .container > .title:hover::before {
	cursor: pointer;

	color: white;
	background: black;

	padding: 48px 64px 64px 32px;
}

.__hamburgerMenu.containersWrapper > .container > .title > .prefix {
	font-weight: 400;
}

.__hamburgerMenu.containersWrapper > .container > .title > span {
	display: inline-block;
}