.sign > .whoAmI > .title.container > * {
	top: calc(var(--titleLineHeight) + (var(--titleBottomMargin) / 2));
}

.sign > .whatNow > .title.container > * {
	top: calc(0px - (var(--titleLineHeight) + (var(--titleBottomMargin) / 2)));
}

.sign > .whatNow > .title.container {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

.sign > .whatNow > .description.container {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.sign > .contactMe > .background {
	height: 100vh;
	width: 100vw;

	transform-origin: top;

	background: black;
}

.sign {
	position: relative;
	width: 100vw;
	height: 100%;

	pointer-events: none;

	overflow: hidden;
}

.sign > * {
	position: relative;

	top: 100vh;
	height: 100vh;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	align-items: center;
	justify-items: center;

	pointer-events: none;
}

.sign > * > .title.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.sign > * > .title.container > .title {
	font-size: var(--titleFontSize);
	font-family: "Space Mono", "Dank Mono", sans-serif;
	font-weight: 800;
	line-height: var(--titleLineHeight);
	letter-spacing: var(--titleLetterSpacing);

	position: relative;

	display: block;

	margin: 0 0 var(--titleBottomMargin) 0;
}

.sign > * > .title.container > .title.outline {
	-webkit-text-stroke: 1px white;
	-webkit-text-fill-color: transparent;
}

.sign > * > .description.container {
	width: 50%;
	max-width: 360px;

	overflow-y: hidden;
}

.sign > * > .description.container > .description {
	font-size: 0.8em;
	font-family: 'Dank Mono';
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0.04em;
	line-height: 1.6em;

	position: relative;

	max-height: 100%;

	color: white;
	background: black;

	margin: 0 0 var(--titleBottomMargin) 0;
	padding: 40px;

	box-sizing: border-box;
}

.sign > * > .description.container > .socials.container {
	margin-top: 12vh;
	margin-left: 8vw;
}

@media only 
	screen 
	and (max-width: 1024px)
	and (max-height: 400px) {
	.sign > * > .title.container > * {
		top: -69px !important;

		font-size: 4em !important;
	}	
}


@media only 
	screen
	and (max-width: 1024px) {
	.sign > * {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}
	
	.sign > * > .title.container > * {
		align-self: flex-start;
	}

	.sign > .whoAmI > .title.container {
		top: 0;
	}

	.sign > .whatNow > .title.container > * {
		top: calc((var(--titleLineHeight) + (var(--titleBottomMargin) / 2)));
	}

	.sign > .whatNow > .title.container > .title {
		grid-row: 1 / 2;
	}

	.sign > .whatNow > .title.container > .title.outline {
		grid-row: 2 / 3;
	}

	.sign > .whatNow > .title.container {
		grid-row: 1 / 2;
		grid-column: 1 / 2;

		top: 0;
	}
	
	.sign > .whatNow > .description.container {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
	}
	
	.sign > * > .description.container > .socials.container {
		visibility: hidden;
	}

	.sign > * > .description.container {
		width: 100vw;
		max-width: unset;

		align-self: flex-end;
	}

	.sign > * > .description.container > .description {
		width: 100vw;
	}
}