.socials.container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	width: 50%;
	max-width: 360px;

	align-items: center;
	justify-items: center;

	position: absolute;
}

.socials.container > a {
	position: relative;

	height: 24px;

	pointer-events: auto;

	-webkit-tap-highlight-color: transparent;
}

.socials.container > a:hover > svg {
	bottom: 6px;
}

.socials.container > a > svg {
	height: 24px;
	width: 24px;

	bottom: 0;

	position: relative;
	
	transition: bottom 1s var(--easeFastSlow);
}