:root {
	--swiper-theme-color: black;
	--swiper-navigation-size: 24px;
}

.shelf {
	height: 100vh;
	width: 100vw;

	position: absolute;
	overflow: hidden;
	
	z-index: -2;
}

.tv {
	display: grid;

	height: 100%;
	width: 100%;

	position: absolute;
}

.tv > .screen {
	height: 100%;
	width: 100%;

	margin: 0;

	opacity: 0;

	transition: 
		opacity 0.5s var(--easeSlowSlow),
		transform .2s var(--easeFastSlow);

	z-index: inherit;
}

.tv > .screen.active {
	opacity: 1;
}

.swiper-wrapper {
	position: absolute;

	transition: transform 1s var(--easeSlowSlow);
}

.swiper-slide {
	background: black;
}

.swiper-pagination-bullet {
	background: white;

	opacity: 0.1;

	width: 8px;

	border-radius: 0;

	transition: 
		opacity 0.5s var(--easeSlowSlow),
		width 0.5s var(--easeSlowSlow);
}

.swiper-pagination-bullet-active {
	background: white;

	opacity: 1;

	width: 32px;
}

.swiper-wrapper,
.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
	mix-blend-mode: difference;

	-webkit-tap-highlight-color: transparent;
	outline: 0;
	pointer-events: auto;
}

.swiper-button-next {
	color: white;
	
	right: var(--headerPadding);
}

.swiper-button-next::after,
.swiper-button-prev::after {
	transform: translateX(0);

	transition: 
		transform .5s var(--easeFastSlow);
}

.swiper-button-next:hover::after {
	transform: translateX(16px);
}

.swiper-button-prev {
	color: white;
	
	left: var(--headerPadding);
}

.swiper-button-prev:hover::after {
	transform: translateX(-16px);
}

.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: var(--headerPadding);
}

@media (pointer: coarse), (pointer: cnone) {
	.swiper-button-next:hover::after,
	.swiper-button-prev:hover::after {
		transform: translateX(0);
	}
}

.mouseCatcher {
	position: absolute;

	height: 0;
	width: 0;

	margin: 0;

	background: white;
	border-radius: 100%;

	z-index: -1;

	transition: 
		height 0.2s cubic-bezier(0.5, 0, 0, 1),
		width 0.2s cubic-bezier(0.5, 0, 0, 1),
		margin 0.2s cubic-bezier(0.5, 0, 0, 1),
		transform 0.2s cubic-bezier(0.5, 0, 0, 1);
}